/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0,0,0,.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.show-modal {
    visibility: visible;
    opacity: 1;
}
.modal-container {
    width: 45rem;
    max-height: 55rem;
    overflow-y: auto;
    padding: 3.5rem 3rem;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.modal-header {
    width: 100%;
    text-align: right;
}
.modal-header-cross {
    cursor: pointer;
}
.modal-body {
    width: 100%;
}
.modal-content {
    width: 100%;
    padding: 1rem 0;
}
.modal-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.modal-para {
    font-size: 1.35rem;
    color: var(--color-gray-secondary);
    margin-bottom: 2.5rem;
}
.modal-btns {
    width: 100%;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}
.modal-btn {
    width: 100%;
}

@media screen and (max-width: 600px){
    .modal-container {
        width: 85% !important;
    }
}