/* Utils - buttons */
.btn-primary {
  display: flex;
  justify-content: center;
  padding: 1rem 2.8rem;
  background-color: var(--color-green-primary);
  color: var(--color-white);
  font-size: 1.6rem;
  border: none;
  border-radius: 8px;
  font-weight: 300;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.65px;
}

.btn-secondary {
  display: flex;
  justify-content: center;
  padding: 1rem 2.8rem;
  background-color: transparent;
  color: var(--color-green-primary);
  border: 1px solid var(--color-green-primary);
  font-size: 1.6rem;
  border-radius: 8px;
  font-weight: 300;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.65px;
}

.btn-black {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--color-black-secondary);
  color: var(--color-white);
  font-size: 1.6rem;
  border: none;
  border-radius: 8px;
  font-weight: 300;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.65px;
}

.btn-disabled {
  background-color: var(--color-gray-secondary);
}

/* Utils - Select */
select {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

/* Utils - formik */
.error {
  font-size: 1.2rem;
  color: var(--color-danger);
}

/* Common */
.back-button {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  cursor: pointer;
}

.back-button-icon {
  transform: rotate(-180deg);
  margin-right: 0.75rem;
}

.back-button-text {
  font-size: 1.6rem;
}

/* Utils - Warning */
.warning {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--color-gold-light);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.warning-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.warning-text {
  font-size: 1.35rem;
  font-weight: 300;
}

.warning-link {
  font-size: 1.35rem;
  font-weight: 400;
  margin: 0 0.45rem;
  cursor: pointer;
}

.warning-icon {
  width: 16px;
  margin-right: 1rem;
  fill: var(--color-gold-primary);
}

/* Utils - Error */
.error {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--color-danger-light);
  border-radius: 2rem;
}

.error-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.error-text {
  font-size: 1.35rem;
  font-weight: 400;
}

.error-link {
  font-size: 1.35rem;
  font-weight: 600;
  margin: 0 0.45rem;
  cursor: pointer;
}

.error-icon {
  width: 16px;
  margin-right: 1rem;
  fill: var(--color-danger);
}

/* Utils - Divider */
.divider {
  width: 98%;
  height: 1px;
  margin: 2rem auto;
  background: var(--color-gray-primary);
  border: none;
}

/* Modal - Free Modal */
.qr-modal-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qr-modal-title {
  font-size: 2rem;
}

.qr-modal-img {
  width: 200px;
  height: 200px;
}

.qr-modal-text {
  font-size: 1.5rem;
  color: var(--color-gray-secondary);
}

/* Modal - Edit Modal */
.edit-modal {
  width: 100%;
}

.edit-modal-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Landing */
.landing {
  width: 100%;
  background-color: #fff;
  scroll-behavior: smooth;
}

.landing-section {
  width: 100%;
}

.landing-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.landing-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.landing-header-logo {
  cursor: pointer;
}

.landing-logo {
  width: 150px;
}

.landing-header-menu-icon {
  display: none;
  cursor: pointer;
  width: 35px;
}
.landing-nav-menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100dvh;
  padding: 2.5rem;
  background-color: var(--color-white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
  transform: translateX(250px);
  transition: transform 0.3s ease;
}
.landing-nav-menu-mobile-header {
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-green-secondary);
}
.landing-nav-cross-icon {
  cursor: pointer;
}
.landing-nav-menu-mobile-open {
  transform: translateX(0);
}
.landing-header-nav-mobile {
  display: flex;
  flex-direction: column;
}
.landing-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100dvh;
  background-color: var(--color-white);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
}

.landing-nav-item {
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  color: var(--color-black-secondary);
  font-weight: 500;
  margin: 0 1.8rem;
  cursor: pointer;
}
.landing-nav-item-mobile {
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  color: var(--color-black-secondary);
  font-weight: 500;
  cursor: pointer;
  padding: 0 0 1rem;
  margin-bottom: 1rem;
}


.landing-showcase {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem 1.5rem;
}

.showcase-title {
  font-size: 5.25rem;
  font-weight: 600;
  line-height: 1.25;
}

.showcase-title-green {
  color: var(--color-green-primary);
  margin-bottom: 2rem;
}

.showcase-para {
  max-width: 450px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  color: var(--color-black-secondary);
}

.showcase-cta {
  font-size: 1.8rem;
  padding: 1rem 3.5rem;
}

.landing-grid-right {
  width: 100%;
}

.landing-features {
  width: 100%;
  padding: 2.5rem 1.5rem;
}

.landing-features-head {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2.5rem;
}

.landing-features-bar {
  width: 15px;
  height: 35px;
  background-color: var(--color-green-secondary);
  border-radius: 8px;
  margin-right: 2rem;
}

.landing-features-title {
  font-size: 3.15rem;
  font-weight: 600;
  line-height: 1;
}

.landing-features-para {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.landing-features-sub-title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.landing-features-animation {
  padding: 3rem 0;
  width: 100%;
  text-align: center;
}

.landing-features-image {
  width: 70%;
}

.sub-features {
  width: 100%;
  padding: 6rem 1.5rem;
  background-color: var(--color-gray-light);
}

.sub-features-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}

.landing-form-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.landing-form {
  width: 450px;
  border-radius: 8px;
  background-color: #fff;
  padding: 4rem 3.5rem;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-item {
  width: 100%;
  margin-bottom: 3rem;
}

.form-item-flex {
  display: flex;
  align-items: center;
}

.form-item-input-flex {
  flex: 1;
  margin-right: 1rem;
}

.landing-form-label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.6px;
}

.form-input-flex {
  width: 100%;
  display: flex;
  align-items: center;
}

.landing-form-select {
  padding: 1.5rem 1.5rem;
  font-size: 1.6rem;
  background-color: var(--color-gray-primary);
  border: none;
  border-radius: 8px;
  color: var(--color-gray-secondary);
  font-family: inherit;
  margin-right: 1rem;
}

.landing-form-input {
  flex: 1;
  -webkit-flex: 1;
  padding: 1.5rem 1.75rem;
  font-size: 1.6rem;
  background-color: var(--color-gray-primary);
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--color-gray-secondary);
  font-family: inherit;
  width: 100%;
}

.landing-form-input::placeholder,
.landing-form-textarea::placeholder {
  color: var(--color-gray-secondary);
}

.landing-form-input::-webkit-inner-spin-button {
  display: none;
}

.landing-form-textarea {
  width: 100%;
  padding: 1.5rem 1.75rem;
  font-size: 1.6rem;
  background-color: var(--color-gray-primary);
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--color-gray-secondary);
  font-family: inherit;
  resize: none;
}

.landing-form-cta {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.5rem 1.75rem;
}

.landing-form-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 0 2rem;
}

.landing-find {
  max-width: 90rem;
  border-radius: 8px;
  background-color: #fff;
  padding: 3.5rem;
  margin: 0 auto 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
}

.landing-find-input {
  flex: 1;
  padding: 1.75rem 2rem;
  font-size: 1.7rem;
  background-color: var(--color-gray-primary);
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--color-gray-secondary);
  font-family: inherit;
}

.landing-find-cta {
  font-size: 1.7rem;
  padding: 1.75rem 2rem;
  margin-left: 1.5rem;
}

.landing-find-cta-icon {
  color: #fff;
  margin-right: 0.8rem;
  margin-bottom: -0.17rem;
}

.landing-footer-link {
  color: var(--color-blue-primary);
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.brandcheck {
  max-width: 90rem;
  margin: 0 auto;
  padding: 3rem;
  background-color: var(--color-green-light);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.brandcheck-found {
  max-width: 90rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--color-danger-light);
}

.brandcheck-header {
  width: 100%;
  text-align: right;
}

.brandcheck-cross {
  cursor: pointer;
}

.brandcheck-body {
  width: 100%;
}

.brandcheck-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-green-primary);
  margin-bottom: 1.5rem;
}

.brandcheck-found-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-danger);
  margin-bottom: 1.5rem;
}

.brandcheck-title-sub {
  font-size: 1.6rem;
  font-weight: 400;
}

.brandcheck-found-title-sub {
  font-size: 1.6rem;
  font-weight: 400;
}

.brandcheck-para {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-green-primary);
  margin-bottom: 0.75rem;
}

.brandcheck-cta {
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.5rem;
  background-color: var(--color-black-secondary);
  color: var(--color-white);
  border-radius: 25px;
}

.landing-pricing {
  width: 100%;
  padding: 6rem 1.5rem;
  background-color: var(--color-green-light);
}

.landing-price-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price-grid-left {
  padding: 2rem;
}

.price-features {
  width: 100%;
  padding: 2rem;
}

.price-features-item {
  width: 100%;
  display: flex;
  margin-bottom: 1.75rem;
}

.price-features-item-icon {
  margin-right: 0.6rem;
}

.price-features-item-para {
  font-size: 1.6rem;
}

.price-grid-right {
  width: 100%;
  padding: 2rem;
}

.price-card {
  width: 350px;
  margin: 0 auto 2.5rem;
}

.price-card-btn {
  width: 100%;
  border-radius: 50px;
  padding: 1.75rem 2rem;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.price-card-btn:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.price-card-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.price-card-list-item {
  font-size: 1.6rem;
  margin: 0 auto;
}

.price-card-2 {
  background-color: var(--color-green-ternary);
  border: none;
}

.price-card-3 {
  background-color: var(--color-green-secondary);
  border: none;
}

.landing-footer {
  width: 100%;
  padding: 4rem 1.5rem;
  background-color: var(--color-green-secondary);
}

.landing-footer-head {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.landing-footer-head-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
}

.landing-footer-head-icon {
  margin-right: 1.5rem;
}

.landing-footer-para {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.landing-footer-email {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2rem;
}

.landing-footer-social {
  width: 100%;
  display: flex;
  align-items: center;
}

.landing-footer-social-item {
  margin: 0 1rem;
}

.landing-footer-social-item:first-child {
  margin-left: 0;
}

/* Terms Of Service */
.terms-section {
  padding: 4rem 1.5rem;
}

.terms-header {
  margin-bottom: 4rem;
}

.terms-sub-block {
  width: 100%;
  margin-bottom: 3rem;
}

.terms-sub-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.terms-sub-sub-header {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.terms-sub-para {
  font-size: 1.5rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.terms-bold-span {
  font-weight: 700;
}

.terms-head-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.terms-list-unordered {
  padding: 0 1.75rem;
  margin-bottom: 2rem;
}

.terms-list-ordered {
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

.terms-list-item-unordered {
  font-size: 1.65rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.nested-unordered {
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

.nested-item-unordered {
  font-size: 1.45rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.terms-list-item-unordered:last-child,
.terms-list-item-ordered:last-child {
  margin-bottom: 2.5rem;
}

.terms-list-item-ordered {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.standout-para {
  display: block;
  margin: 1rem 0;
}

.terms-list-para {
  font-size: 1.45rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.terms-list-note {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.terms-table {
  width: 100%;
}

.terms-table,
.terms-table-row,
.terms-table-header,
.terms-table-item {
  border: 1px solid #acacac;
  border-collapse: collapse;
  margin-bottom: 3rem;
}

.terms-table-header {
  font-size: 1.75rem;
  text-align: left;
  padding: 1rem 2rem;
  font-weight: 600;
}

.terms-table-item {
  font-size: 1.45rem;
  padding: 1rem 2rem;
}

.terms-table-large-col {
  width: 60%;
}

.terms-hr {
  margin: 2rem 0;
}

/* Privacy Policy */
.policy-header {
  margin-bottom: 1.5rem;
}

.policy-last-updated-container {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.policy-last-updated {
  font-size: 1.75rem;
}
.policy-primary-header {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

/* Contact Us Page */
.contact-showcase {
  width: 100%;
  background-image: url("./assets/contact-bg.jpg");
  height: 35rem;
  position: relative;
}
.contact-showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.75;
}
.contact-showcase-block {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-showcase-title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 1rem;
}
.contact-showcase-para {
  font-size: 1.75rem;
  color: var(--color-gray-light);
  line-height: 1.5;
  max-width: 80rem;
  text-align: center;
}
.contact-cards-block {
  width: 100%;
  padding: 3rem;
}
.contact-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.contact-card {
  width: 100%;
  height: 25rem;
  background-color:  var(--color-green-light);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-card-img {
  margin-bottom: 2rem
}
.contact-card-para {
  font-size: 1.5rem;
  line-height: 1.75;
}



/* Auth - (Register / Login) */
.auth {
  width: 100%;
  background-color: var(--color-green-ternary);
}

.auth-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.auth-register {
  margin: 2rem 0;
}

.auth-form {
  width: 450px;
  padding: 3rem 3rem;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.auth-form-header {
  width: 100%;
  margin-bottom: 2rem;
}

.auth-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.auth-logo {
  width: 150px;
  cursor: pointer;
}

.auth-logo-divider {
  width: 0.2rem;
  height: 3rem;
  background-color: var(--color-black);
  margin-right: 1rem;
}

.auth-logo-text {
  font-size: 2.5rem;
  font-weight: 400;
}

.auth-form-body {
  padding: 0rem 1.5rem;
}

.auth-title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0rem 1.75rem;
}

.auth-title-sub {
  font-weight: 500;
}

.form-item {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 1.5rem 1.75rem;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: var(--color-gray-primary);
  color: var(--color-gray-secondary);
  outline: none;
}

.form-input::placeholder {
  font-family: inherit;
  font-size: 1.6rem;
}
.form-input-password {
  width: 100%;
  position: relative;
}
.form-input-password input {
  padding-right: 3rem;
}
.form-input-eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 100;
  cursor: pointer;
  display: none;
}
.form-input-password:hover .form-input-eye-icon {
  display: block;
}
.auth-form-cta {
  width: 100%;
  padding: 1.5rem 1.75rem;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.auth-form-cta-flex {
  padding: 1.5rem 1.75rem;
}

.auth-footer-text {
  font-size: 1.35rem;
}

.auth-redirect {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-blue-primary);
}

.auth-forget {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-black);
}

.auth-error {
  color: var(--color-danger);
  font-size: 1.2rem;
}

.auth-google-block {
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: center;
}

.auth-form-seperator {
  font-size: 1.6rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.auth-form-seperator::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
  transform: translateY(-50%);
  border-bottom: 1px solid var(--color-black-secondary);
}

.auth-form-seperator::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 45%;
  transform: translateY(-50%);
  border-bottom: 1px solid var(--color-black-secondary);
}

.auth-google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
}

.auth-google-btn-icon {
  margin-right: 1rem;
}

.auth-google-btn-text {
  font-size: 1.6rem;
}

/* Dashboard Layout */
.dashboard-layout {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
}

/* Sidebar */
.sidebar {
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 2rem;
  text-align: center;
}

.sidebar-header-logo {
  width: 15rem;
  cursor: pointer;
}

.sidebar-body {
  padding: 2rem;
  flex: 1;
}

.sidebar-nav {
  width: 100%;
}

.sidebar-nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  margin-bottom: 2.75rem;
  cursor: pointer;
}

.sidebar-nav-item.active {
  color: #fff;
  background-color: var(--color-green-primary);
}

.sidebar-nav-item-logo {
  width: 2.5rem;
  margin-right: 1.5rem;
}

.sidebar-nav-item-text {
  font-size: 1.8rem;
}

.sidebar-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem;
  background-color: var(--color-green-primary);
  cursor: pointer;
}

.sidebar-footer-icon {
  margin-right: 1.25rem;
}

.sidebar-footer-text {
  font-size: 1.8rem;
  color: var(--color-white);
}

/* Dashboard */
.dashboard {
  flex: 1;
  height: 100%;
  background-color: var(--color-bg-primary);
  overflow-y: auto;
}

.dashboard-header {
  padding: 0 3rem;
  height: 78px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}

.dashboard-header-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.dashboard-header-title-normal {
  font-size: 2.5rem;
  font-weight: 400;
}

.dashboard-header-title-divider {
  width: 3px;
  background-color: var(--color-black-secondary);
  height: 2.5rem;
  margin: 0 1rem;
}

.dashboard-header-title-main {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-green-primary);
}

.dashboard-main {
  width: 100%;
  padding: 3rem 4rem;
}

.dashboard-main-warning {
  margin-bottom: 2rem;
}

.dashboard-main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.hamburger-icon {
  width: 35px;
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

.dashboard-search-item {
  width: 25rem;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background-color: var(--color-gray-primary);
  border-radius: 2rem;
}

.dashboard-search-input {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  outline: none;
  margin-right: 0.75rem;
  flex: 1;
  background-color: transparent;
  color: var(--color-gray-secondary);
}

.dashboard-search-input::placeholder {
  font-size: 1.4rem;
  font-family: inherit;
  color: var(--color-gray-secondary);
}

.dashboard-main-content {
  width: 100%;
}

.dashboard-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 28rem));
  gap: 1.5rem;
}

.dashboard-grid-item {
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.dashboard-grid-item-link {
  font-size: 1.6rem;
  color: var(--color-black-secondary);
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-transform: lowercase;
}

.dashboard-grid-item-message {
  max-width: 200px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-gray-secondary);
  margin-bottom: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-no-message {
  font-style: italic;
}

.dashboard-grid-item-tag {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  border: 2px solid;
  margin-bottom: 1.5rem;
}

.plan-tag {
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 500;
}

.plan-free {
  color: var(--color-green-primary);
  border-color: var(--color-green-primary);
}

.plan-essential {
  color: var(--color-blue-primary);
  border-color: var(--color-blue-primary);
}

.plan-expand {
  color: var(--color-gold-primary);
  border-color: var(--color-gold-primary);
}

.plan-elite {
  color: var(--color-purple-primary);
  border-color: var(--color-purple-primary);
}

/* Plans */
.plan {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.plan-main-text {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.plan-main-para {
  font-size: 1.4rem;
  font-weight: 400;
}

.plan-main-para-span {
  color: var(--color-green-primary);
}

.plan-card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.plan-card-item {
  width: 100%;
  max-width: 38rem;
  padding: 3rem 2rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.plan-card-item-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-gray-primary);
}

.plan-card-item-title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.45rem;
}

.plan-card-item-price {
  color: var(--color-green-primary);
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.plan-card-item-sub-title {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.plan-card-item-main {
  padding: 2rem 1rem;
}

.plan-card-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
}

.plan-card-list-icon {
  margin-right: 1rem;
  font-weight: 500;
}

.plan-card-list-text {
  font-size: 1.5rem;
}

.cta-upgrade {
  width: 100%;
  font-size: 1.75rem;
}

.plan-main-para-blue {
  color: var(--color-blue-primary);
}

/* Profile */
.profile-container {
  width: 100%;
  padding: 3rem;
  background-color: var(--color-white);
  border-radius: 8px;
}

.profile-form {
  width: 100%;
}

.profile-form-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.75rem;
}

.profile-form-label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-right: 3rem;
}

.input-container {
  flex: 1;
}

.create-form-number-block {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-warning-container {
  margin-bottom: 2rem;
}

.profile-form-input {
  width: 32rem;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.75rem;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: var(--color-gray-primary);
  color: var(--color-gray-secondary);
  outline: none;
}

.profile-form-select {
  width: 8rem;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.75rem;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: var(--color-gray-primary);
  color: var(--color-gray-secondary);
  outline: none;
  margin-right: 1.5rem;
}

.profile-cta-edit {
  margin-right: 2rem;
}

/* Billing */
.billing-container {
  width: 100%;
  padding: 3rem;
}
.billing-table-wrapper {
  width: 100%;
  overflow-y: auto;
}

.billing-table {
  width: 100%;
}

.billing-table-head {
  background-color: var(--color-gray-primary);
  border-radius: 8px 8px 0 0;
}

.billing-table-th {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem;
}

.billing-table-body {
  background-color: var(--color-white);
}

.billing-table-data {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem;
  color: var(--color-gray-secondary);
  text-align: center;
}

.billing-status-tag {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  border: 1px solid;
}

.billing-status {
  font-size: 1.25rem;
  font-weight: 500;
}

.billing-success {
  color: var(--color-green-primary);
  border-color: var(--color-green-primary);
}

.billing-failure {
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.pagination-block {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination-block .page-link {
  font-size: 1.5rem !important;
}

/* Help */
.help-accordion {
  width: 100%;
  padding: 2.5rem 3rem;
  background-color: var(--color-white);
  border-radius: 8px;
}

.help-accordion-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.help-accordion-para {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-gray-secondary);
  margin-bottom: 3rem;
}

.help-accordion-faq {
  width: 100%;
}

.faq-item {
  width: 100%;
  margin-bottom: 1.5rem;
}

.faq-item-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-gray-primary);
}

.faq-item-title-text {
  font-size: 1.5rem;
}

.faq-item-title-icon {
  transform: rotate(90deg);
}

.open-accordion .faq-item-title-icon {
  transform: rotate(-90deg);
}

.faq-item-content {
  background-color: var(--color-gray-light);
  border-radius: 0 0 8px 8px;
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 0 1.5rem;
}

.faq-item-content-text {
  font-size: 1.35rem;
  font-weight: 400;
  color: var(--color-gray-secondary);
  line-height: 1.75;
}

.open-accordion .faq-item-content {
  height: 80px;
  padding-top: 0.75rem;
}

.faq-redirect-text {
  text-decoration: none;
  color: var(--color-blue-primary);
}

/* Create Link */
.create-container {
  width: 100%;
  padding: 2.5rem 3rem;
  background-color: var(--color-white);
  border-radius: 8px;
}

.create-head {
  width: 100%;
  display: flex;
  align-items: center;
}

.create-main {
  padding: 2rem 0;
}

.create-switch-tabs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-primary);
}

.switch-tab {
  width: 100%;
  border: 1px solid var(--color-gray-secondary);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.switch-tab-active {
  background-color: var(--color-green-primary);
  border-color: var(--color-green-primary);
  color: var(--color-white);
}

.switch-tab-text {
  font-size: 2rem;
  font-weight: 400;
}

.create-warning-container {
  width: 100%;
  padding: 1rem 2rem;
}

.create-form-container {
  width: 100%;
  position: relative;
}
.create-cta {
  padding: 0.75rem 3rem;
}
.create-plan-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.create-plan-overlay-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create-plan-overlay-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cececeeb;
  filter: blur(8px);
  z-index: 1;
  border-radius: 8px;

}
.create-plan-overlay-text {
  position: relative;
  z-index: 100;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-danger);
  margin-bottom: 1.5rem;
}
.create-plan-overlay-btn {
  position: relative;
  z-index: 100;
  font-size: 1.75rem;
  padding: 1.5rem 3rem;
}

.create-form {
  width: 100%;
  padding: 2rem;
}

.add-more-cta {
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
}



.form-delete-agent {
  margin-left: 1.5rem;
  cursor: pointer;
}

/* Analytics */
.analytics-container {
  width: 100%;
  padding: 2.5rem 3rem;
  background-color: var(--color-white);
  border-radius: 8px;
}

.analytics-main {
  padding: 2rem 0;
}

.analytics-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.analytics-link {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.analytics-link-copy {
  margin-left: 1rem;
  cursor: pointer;
}

.analytics-agents {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.analytics-agents-item {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  background-color: var(--color-slate-primary);
  margin: 1rem 0;
  margin-right: 1rem;
  border-radius: 25px;
}

.analytics-agents-item:first-child {
  margin-left: 0;
}

.analytics-message {
  display: inline-block;
  max-width: 500px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: var(--color-green-light);
  font-size: 1.25rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.analytics-actions {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.analytics-action-item {
  padding: 1rem;
  background-color: var(--color-slate-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
}

.analytics-data-block {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.analytics-data {
  width: 100%;
  margin-bottom: 2rem;
}

.analytics-data-title {
  font-size: 1.35rem;
  font-weight: 700;
  margin-right: 0.75rem;
}

.analytics-data-text {
  font-size: 1.35rem;
}

.analytics-chart {
  width: 100%;
  padding: 2rem 0;
}

.analytics-chart-title-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.analytics-chart-title {
  font-size: 2rem;
  margin-right: 2rem;
}

.analytics-refresh-icon {
  width: 20px;
  cursor: pointer;
  margin-right: 2rem;
}

.analytics-date-selector {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.radio-group-input {
  margin-right: 0.65rem;
  cursor: pointer;
}

.radio-group-text {
  font-size: 1.5rem;
  cursor: pointer;
}

.date-selector {
  width: 100%;
}

.date-selector-wrapper {
  width: 300px;
  height: auto;
}

.date-picker-comp {
  width: 100%;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-date-picker__wrapper {
  border: none !important;
  font-size: 1.25rem !important;
  background-color: var(--color-gray-primary);
  border-radius: 4px;
  cursor: pointer;
}

.react-date-picker__inputGroup {
  padding: 9px 15px !important;
}

.react-date-picker__button {
  padding: 4px 10px !important;
}

.month-selector-input {
  padding: 10px 18px;
  cursor: pointer;
  border: none;
  background-color: var(--color-gray-primary);
  border-radius: 4px;
  font-size: 1.5rem;
}

.analytics-chart-block {
  width: 100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
}
.analytics-chart-wrapper {
  width: 100%;
  min-width: 800px;
  height: 100%;
  padding: 1rem;
}

.analytics-data-container {
  width: 100%;
}

.analytics-table-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.analytics-clicks-block {
  width: 20rem;
  height: 15rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2.5rem 1.5rem 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.analytics-clicks-title {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.analytics-clicks-value {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-green-primary);
}

.analytics-table {
  width: 25rem;
  height: 18rem;
  margin-bottom: 2rem;
  padding: 2.5rem 1.5rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #cfcfcf;
  transition: box-shadow 0.3s ease;
  position: relative;
}
.analytics-table-content {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow-y: auto;
}
.analytics-table:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.analytics-expand-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  display: none;
  transition: all 0.3s ease;
  width: 14px;
}
.analytics-table:hover .analytics-expand-icon {
  display: block;
}
.analytics-table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 2px solid var(--color-gray-secondary);
}

.analytics-table-header-title {
  font-size: 1.5rem;
}

.analytics-table-body {
  width: 100%;
}

.analytics-table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 2px solid var(--color-gray-primary);
}
.analytics-table-row-item {
  width: 100%;
}
.analytics-table-row-item-right {
  text-align: right;
}
.analytics-table-row:last-child {
  border-bottom: none;
}

.analytics-table-body-text {
  font-size: 1.25rem;
}

.hidden-analytics {
  width: 100%;
  height: 200px;
  padding: 2rem;
  background-color: var(--color-gray-primary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden-analytics::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(4px);
  background-color: var(--color-gray-primary);
  border-radius: 8px;
  z-index: 100;
}

.unlock-analytics {
  position: relative;
  z-index: 200;
}

.hidden-analytics-warning {
  position: relative;
  z-index: 200;
}

/* Forget Password */
.change-password-form {
  margin-top: 2rem;
}

/* Not Found */
.not-found {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-container {
  width: 400px;
  text-align: center;
}
.not-found-title {
  font-size: 7rem;
  color: var(--color-green-primary);
}
.not-found-sub-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.not-found-para {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.not-found-btn {
  margin: 0 auto;
  padding: 1rem 3.5rem;
}

/* --------------- Media Queries --------------- */
@media screen and (min-width: 1600px) {
  .landing-container {
    max-width: 120rem;
  }
}


@media screen and (max-width: 1300px) {
  .landing-container {
    max-width: 100rem;
  }

  .showcase-title {
    font-size: 4rem;
  }

  .showcase-bg {
    width: 100%;
  }

  .landing-find {
    max-width: 75rem;
  }
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 26rem));
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1200px){
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 30rem));
    gap: 1.5rem;
  }
  .sidebar {
    width: 28rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 1000px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 26rem));
    gap: 1.5rem;
  }
  .hamburger-icon {
    display: inline-block;
  }
  .sidebar {
    width: 26rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateX(-26rem);
    transition: all 0.3s ease;
  }
  .sidebar-open {
    transform: translateX(0);
  }
  .sidebar-overlay{
    content: '';
    position: fixed;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.10);
  }
}

@media screen and (max-width: 990px) {
  .landing-showcase {
    grid-template-columns: 1fr;
  }

  .landing-grid-left {
    width: 100%;
    text-align: center;
  }

  .showcase-para {
    min-width: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .showcase-cta {
    margin: 0 auto 3rem;
  }

  .landing-grid-right {
    text-align: center;
  }

  .showcase-bg {
    width: 90%;
  }

  .landing-form-flex {
    flex-direction: column;
  }

  .landing-form-divider {
    transform: rotate(90deg);
  }

  .landing-find {
    width: 100%;
    padding: 3rem;
  }

  .landing-price-grid {
    grid-template-columns: 1fr;
  }

  .price-card {
    margin: 0;
    margin-bottom: 2.5rem;
  }
  .contact-cards {
    grid-template-columns: 1fr 1fr;
  }
  .contact-showcase-para {
    width: 90%;
  }
}

@media screen and (max-width: 786px) {
  .landing-container {
    padding: 0 2.5rem;
  }
  .landing-header-nav {
    display: none;
  }

  .auth-cta {
    display: none;
  }
  .auth-cta-mobile {
    display: block;
    margin: 1rem 0;
    font-size: 1.25rem;
  }

  .landing-hamburger {
    display: block;
  }
  .landing-header-menu-icon {
    display: block;
  }
  .landing-logo {
    width: 140px;
  }
  .showcase-title {
    font-size: 3.5rem;
  }
  .showcase-para {
    font-size: 1.75rem;
    min-width: 100%;
  }
  .landing-features-bar{
    height: 30px;
  }
  .landing-features-title {
    font-size: 2.75rem;
  }
  .landing-features-para {
    font-size: 1.65rem;
  }
  .landing-features-sub-title {
    font-size: 2rem;
  }
  .landing-find {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .landing-find-input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .landing-find-cta {
    width: 100%;
    margin-left: 0;
  }
  .landing-features-head {
    margin-bottom: 1rem;
  }
  .price-grid-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing-footer-head-icon {
    width: 40px;
  }
  .landing-footer-head-title {
    font-size: 3rem;
  }
  .landing-footer-para {
    font-size: 1.5rem;
  }
  .brandcheck-found-title {
    font-size: 1.5rem;
    line-height: 1.75;
  }
  .plan-card-grid {
    grid-template-columns: 1fr 1fr;
  }
  .dashboard-main {
    padding: 3rem 3rem;
  }
  .warning-text, .error-text {
    font-size: 1.15rem;
    font-weight: 300;
  }
  .profile-form-input {
    width: 100%;
  }
  .plan-main-para {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75;
  }
  .billing-container {
    padding:0;
  }
  .input-container {
    width: 100%;
  }
  .analytics-clicks-block, .analytics-table {
    width: 22rem;
    height: 18rem;
  }
  .profile-form-label {
    font-size: 1.6rem;
  }
  .contact-showcase-para {
    font-size: 1.5rem;
  }
  .contact-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px){
  .dashboard-search-item {
    width: 20rem;
  }
  .dashboard-search-input {
    width: 100%;
  }
  .dashboard-grid {
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .plan-card-grid {
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .plan-card-item {
    max-width: 100%;
  }
  .profile-form-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-form-label {
    margin-bottom: 0.65rem;
  }
  .profile-cta-edit {
    margin-bottom: 1rem;
  }
  .switch-tab-text  {
    font-size: 1.6rem;
  }
  .create-plan-overlay-text {
    font-size: 2rem;
  }
  .create-plan-overlay-btn {
    font-size: 1.5rem;
  }
  .create-warning-container {
    padding: 1rem 0;
  }
  .analytics-table-container {
    justify-content: center;
  }
  .analytics-clicks-block {
    width: 30rem;
  }
  .analytics-table {
    width: 30rem;
    height: 20rem;
  }
}

@media screen and (max-width: 550px) {
  .landing-container {
    padding: 0 2rem;
  }
  .showcase-title {
    font-size: 3rem;
  }
  .showcase-para {
    font-size: 1.5rem;
  }
  .showcase-cta {
    font-size: 1.5rem;
  }
  .landing-features-title {
    font-size: 2.5rem;
  }
  .landing-features-head {
    margin-bottom: 2rem;
  }
  .landing-features-para {
    font-size: 1.5rem;
    line-height: 1.75;
  }
  .sub-features-title {
    font-size: 2rem;
  }
  .landing-form {
    width: 98%;
  }
  .landing-form-label {
    font-size: 1.5rem;
    margin-bottom: 1.75rem;
  }
  .form-input-flex{
    flex-direction: column;
  }
  .landing-form-select {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-size: 1.45rem;
  }
  .landing-form-input {
    width: 100%;
    font-size: 1.45rem;
    margin-bottom: 0.35rem;
  }
  .landing-form-textarea {
    font-size: 1.45rem;
    width: 100%;
  }
  .landing-form-cta {
    font-size: 1.65rem;
  }
  .landing-find-input {
    font-size: 1.5rem;
  }
  .landing-price-grid {
    display: block;
  }
  .price-features {
    padding: 0;
  }
  .price-features-item-icon {
    margin-right: 0.75rem;
  }
  .price-features-item-para {
    font-size: 1.45rem;
    line-height: 1.75;
  }
  .landing-features-head {
    margin-bottom: 1rem;
  }
  .price-card {
    width: 100%;
  }
  .price-card-list-item {
    font-size: 1.5rem;
  }
  .price-card-btn {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
  .landing-nav-menu-mobile {
    width: 230px;
  }
  .landing-footer-head-icon {
    width: 30px;
  }
  .landing-footer-head-title {
    font-size: 2rem;
  }
  .landing-footer-para {
    font-size: 1.45rem;
    line-height: 1.75;
  }
  .landing-features-animation {
    display: none;
  }
}

@media screen and (max-width: 500px){
  .auth-form {
    width: 90%;
    padding: 2.5rem 1.5rem;
  }
  .auth-title {
    font-size: 1.25rem;
  }
  .auth-logo {
    width: 130px;
  }
  .auth-logo-text {
    font-size: 2.25rem;
  }
  .dashboard-main {
    padding: 3rem 1.5rem;
  }
  .dashboard-header-title-normal {
    font-size: 1.8rem;
  }
  .dashboard-header-title-divider {
    height: 2rem;
    width: 2px;
  }
  .dashboard-header-title-main {
    font-size: 1.8rem;
  }
  .hamburger-icon {
    width: 25px;
  }
  .dashboard-main-header {
    flex-direction: column;
  }
  .dashboard-search-item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .dashboard-main-header-cta {
    width: 100%;
  }
  .analytics-link {
    font-size: 2rem;
  }
  .analytics-agents-item {
    font-size: 1.1rem;
  }
  .back-button-icon {
    width: 1.5rem;
  }
  .btn-primary, .btn-secondary {
    font-size: 1.4rem;
  }
  .analytics-table:hover .analytics-expand-icon  {
    display: none;
  }
  .plan-card-list-text {
    font-size: 1.4rem;
  }
  .warning, .error {
    padding: 1rem 2.25rem;
  }
  .help-accordion-para {
    font-size: 1.25rem;
  }
  .help-accordion-title {
    font-size: 1.8rem;
  }
  .faq-item-content-text {
    font-size: 1.25rem;
  }
  .faq-item-title-text {
    font-size: 1.3rem;
  }
  .faq-item-title {
    gap: 1.5rem;
  }
  .create-form {
    padding: 2rem 0;
  }
  .dashboard-header {
    padding: 0 1.5rem;
  }
  .contact-showcase-title {
    font-size: 2.5rem;
    text-align: center;
  }
  .contact-showcase-para {
    font-size: 1.25rem;
  }
  .contact-cards-block {
    padding: 0;
  }
  .not-found-container {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .landing-logo {
    width: 120px;
  }
  .landing-header-menu-icon {
    width: 30px;
  }
  .showcase-title {
    font-size: 2.5rem;
  }
  .showcase-para {
    font-size: 1.35rem;
  }
  .showcase-cta {
    font-size: 1.45rem;
  }
  .landing-features-bar {
    height: 25px;
  }
  .landing-features-title {
    font-size: 2.25rem;
  }
  .landing-features-head {
    margin-bottom: 2rem;
  }
  .landing-features-bar {
    margin-right: 1.5rem;
  }
  .landing-form {
    width: 100%;
    padding: 3rem 2.5rem;
  }
  .landing-form-select {
    padding: 1rem 1.5rem;
  }
  .landing-form-input {
    padding: 1.25rem 1.75rem;
  }
  .landing-form-cta {
    padding: 1.25rem 1.75rem;
    font-size: 1.5rem;
  }
  .landing-find-input  {
    font-size: 1.5rem 2rem;
  }
  .landing-find-cta {
    font-size: 1.35rem;
    padding: 1.5rem 2rem;
  }
  .brandcheck-title {
    font-size: 1.5rem;
  }
  .brandcheck-para {
    font-size: 1.35rem;
  }
  .brandcheck-cta {
    font-size: 1.45rem;
  }
  .sidebar-nav-item-logo {
    width: 2rem;
  }
  .sidebar-nav-item-text {
    font-size: 1.6rem;
  }
  .sidebar-header-logo {
    width: 14rem;
  }
  .sidebar {
    width: 22rem;
    transform: translateX(-22rem);
  }
  .sidebar-open {
    transform: translateX(0);
  }
  .analytics-date-selector {
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
  }
  .analytics-clicks-block,
  .analytics-table {
    width: 100%;
  }
  .analytics-chart-title {
    font-size: 1.8rem;
    margin-right: 1rem;
  }
  .analytics-refresh-icon {
    width: 16px;
    margin-right: 1rem;
  }
  .form-input::placeholder,
  .profile-form-input::placeholder {
    font-size: 1.4rem;
  }
  .form-input,
  .profile-form-input {
    font-size: 1.4rem;
  }
  .billing-table-th {
    font-size: 1.4rem;
  }
  .billing-table-data {
    font-size: 1.2rem;
  }
  .billing-status {
    font-size: 1.2rem;
  }
  .faq-item-title {
    gap: 2rem;
  }
  .profile-form-select {
    width: 6rem;
  }
  .switch-tab-text {
    font-size: 1.2rem;
  }
  .create-switch-tabs {
    padding-bottom: 1rem;
  }
  .profile-container {
    padding: 3rem 2rem;
  }
  .help-accordion {
    padding: 2.5rem 2rem;
  }
  .modal-btns button {
    font-size: 1.2rem;
  }
}